<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/Product/Product.js"></script>


<div id="dvCreateProduct">
    @{Html.RenderAction("CreateProduct");}
</div>
<div id="dvListProducts">
    
</div>